        /* Optional: Makes the sample page fill the window. */
html,
body {
  height: 90%;
  margin: 50px;
  padding: 0;
}
#map {
  height: 60%;
  width: 60%;
}
.weatherIcon{
  height: 10%;
  position: relative;
  left: 10%;
}
.windSpeed,
.windDirection,
.location,
.weatherTemp,
.weatherDescription {
  height: 1%;
  position: relative;
  left: 12%;
}
.flikrApiContainer{
  height: 40%
}
.flikrApiContainer img {
  max-height:125px; margin:3px; border:1px solid #dedede;
}

.tesiaContainer{
  display: inline-block;

/* .yelpContainer{
  position: relative;
  top: 50%;
  border: 2px solid black;
} */
.yelpResultContainer{
  right: 0;
  height: 10vmin;
  width: 50vmin;
  border: 1px solid lightgrey;
}
.yelpName{
  font-size: 2vmin;
  padding-top: 5px;
  text-decoration: none;
  color: black;
}
.yelpAddress{
  font-size: 1.5vmin;
  color: grey;
}
.yelpRatingReviewPrice{
  font-size: 1.5vmin;
   color: grey;
}
.yelpCategory{
  font-size: 1.75vmin;
  color: grey;
  text-transform: uppercase;
}
.yelpPhoto{
  height: 10vmin;
  width: 10vmin;
  display: flex;
  float: left;
  padding-right: 3.5%;
}
.yelpInputBox{
  border-radius: 80%;
}
