        /* Optional: Makes the sample page fill the window. */
body{
  /* border: 6px solid black;
  font-size: 0;
  padding: 0; */
}
.upperContainer{
  /* border: 1px solid black; */
  /* background-color: lightcoral; */
  height: 70vh;
  margin-left: 25px;
  margin-top: 25px;
  margin-right: 25px;
}
/* font-family: 'Rajdhani', sans-serif;
font-family: 'Bangers', cursive; */
.mapContainer{
  /* border: 1px solid black; */
  height: 98%;
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
  margin-left:2px;
  margin-top: 2px;
  border: 4px solid black;

}
.superHeroBox,
.asteroidBox{
  /* border: 1px solid black; */
  height: 100%;
  display: inline-block;
  vertical-align: top;
  /* padding-left: 2vw; */
}
.superHeroBox{
  width: 24.7vw;
  margin-left: 25px;

}

.superheroContainer{
  font-family: 'Bangers', cursive;
  font-size: 1em;
}

.mapContainer,
.superheroBox{
  background-color: #065d52;
}

.asteroidBox{
  background-color: #9a261c;
  width: 15.3vw;
  /* border: 1px solid black; */
}

.asteroidTitle{
  font-family: 'Bangers', cursive;
  font-size: 2em;
  text-align: center;
}

.asteroidContainer{
  background-color: #9a261c;
  border: 4px solid black;
  height: 90%;
  width: 90%;
  margin-top: 12px;
  margin-left: 9px;

}

.googleMap {
  height: 100%;
  width: 55vw;
  /* padding: 5%; */
}

img{
  height: auto;
  max-width: 100%;
}

.yelpOutput{
  position: absolute;
}

.middleContainer{
  margin-top: 25px;
  margin-right: 25px;
  margin-left: 25px;
  /* border: 1px solid black; */
  background-color: #ddb330;
  height: 20vh;
}

.flickrInput,
.yelpBox,
.weatherDisplay,
.instructionDisplay{
  /* border: 1px solid black; */
  height: 95%;
  display: inline-block;
  padding-left: 2vw;

}

.flickrInput{
  /* background-color: pink; */
  width: 24vw;
  padding: 50px;
}

.yelpBox{
  /* background-color: orange; */
  width: 24vw;
}

.weatherDisplay{
  /* background-color: yellow; */
  width: 15vw;
}

.instructionDisplay{
  background-color: #9a261c;
  width: 22.1vw;
  vertical-align: top;
  font-family: 'Bangers', cursive;
  font-size: 2em;
  text-align: center;
}

.lowerContainer{
  /* border: 1px solid black; */
  /* background-color: lightgreen; */
  height: 45vh;
}

.flickrOutput,
.yelpOutput {
  border: 1px solid black;
  height: 95%;
  display: inline-block;
  padding-left: 2vw;
}

.flickrOutput{
  background-color: #065d52;
  width: 65vw;
  /* margin: 25px; */
  margin-top: 25px;
  margin-left: 25px;
  height: 10000px;

}

.yelpOutput{
  background-color: #9a261c;
  width: 23.8vw;
  height: 10000px;
  margin-left: 25px;
  margin-top: 25px;
}

.weatherIcon{
  height: 1%;
  position: relative;
  /* left: 10%; */
}

.location,
.weatherTemp,
.weatherDescription {
/* display: inline-block; */
}

.flickrApiContainer{
  height: 40%
}

.flickrOutput img {
  max-width: 250px;
  margin:3px;
  border:6px solid black;
/* .flickrApiContainer  */
}

.yelpResultContainer{
  right: 0;
  height: 10vmin;
  width: 48vmin;
  border: 2px solid black;
}

.yelpName{
  font-size: 2vmin;
  padding-top: 5px;
  text-decoration: none;
  color: black;
}

.yelpAddress{
  font-size: 1.5vmin;
  color: grey;
}

.yelpRatingReviewPrice{
  font-size: 1.5vmin;
   color: grey;
}

.yelpName,
.yelpAddress,
.yelpRatingReviewPrice,
.yelpCategory {
  color: white;
}

.yelpCategory{
  font-size: 1.75vmin;
  text-transform: uppercase;
}

.yelpPhoto{
  height: 10vmin;
  width: 10vmin;
  display: flex;
  float: left;
  padding-right: 3.5%;
}
