        /* Optional: Makes the sample page fill the window. */
.nav-tabs,
.tabTitle{
  background-color: #ddb330;
  color: #9a261c;
}
.nav-tabs{
  border-radius: 7px;
}
.mapContainer{
  height: 95vh;
   width: 55vw;
  display: inline-block;
  margin-right: 25px;
  margin-left:25px;
  margin-top: 25px;
  border-radius: 7px;
  background-color: #ddb330;
}
.googleMap {
  height: 80%;
  width: 90%;
  top: 5%;
  left: 5%;
  /* padding: 5%; */
}
#menuContainer{
  margin-top: 25px;
  display: inline-block;
  width: 38vw;
  vertical-align: top;
  overflow-y: auto;
}
.superheroBox{
  height: 100%;
  max-width: 250px;
  display: inline-block;
  vertical-align: top;
  /* background-color: #065d52; */
}
.asteroidBox{
  height: 70vh;
  display: inline-block;
  vertical-align: top;
  background-color:  #9a261c;
  width: 100%;
  color:white;
  border-radius: 7px;
}
.superheroContainer{
  font-family: 'Bangers', cursive;
  vertical-align: top;
  display: inline-block;

}
.asteroidTitle{
  font-family: 'Bangers', cursive;
  font-size: 2em;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
}
.asteroidContainer{
  background-color:  #ddb330;
  border-radius: 7px;
  width: 90%;
  margin-top: 12px;
  margin-left: 9px;
  color: black;
}
.superheroContainer img{
  height: 50vh;
  max-width: 100%;
}
.flickrInput{
  height: 95%;
  display: inline-block;
  width: 24vw;
}
.yelpBox{
  height: 95%;
  width: 24vw;
  display: inline-block;
}
#flickr{
  width: 100%;
  /* padding: 1px; */
}
.weatherDisplay{
  width: 18vw;
  top: 3.5vw;
  background-color: white;
  position: relative;
  margin-left: 5%;
  border-radius: 7px;
  /* border: 4px solid black; */
}
.weatherContainer .weatherTemp{
  font-weight: bolder;
}

}
.instructionDisplay{
  /* height: 95%; */
  display: inline-block;
  background-color: #9a261c;
  height: 50vh;
  width: 18vw;
  vertical-align: top;
  font-family: 'Bangers', cursive;
  font-size: 25px;
  text-align: center;
  overflow-y: none;
}
.flickrOutput{
  background-color: #9a261c;
  height: 100%;
  width: 36vw;
  margin-top: 25px;
  margin-left: 25px;
  /* border: 5px solid black; */
  height: 95%;
  display: inline-block;
  padding-left: 2vw;
  overflow-y: auto;
  border-radius: 7px;
}
.flickrApiContainer{
  /* border: 4px solid black; */
  height: 70vh;
}
.flickrOutput img {
  max-width: 220px;
  /* margin:3px; */
  /* border:3px solid black; */
}
.yelpOutput{
  background-color: #9a261c;
  width: 27vw;
  margin-left: 25px;
  margin-top: 25px;
  /* border: 1px solid black; */
  height: 75vh;
  /* display: inline-block; */
  padding-left: 1vw;
  position: fixed;
  overflow-y: auto;
  border-radius: 7px;
}
.weatherIcon{
  height: 1%;
  position: relative;
}
.location{
  position: relative;
  left: 3.5vw;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bolder;
}
.weatherTemp,
.weatherDescription {
  display: inline-block;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bolder;
}
.yelpResultContainer{
  right: 0;
  height: 10vmin;
  width: 48vmin;
  border: 2px solid black;
}
.yelpName{
  font-size: 2vmin;
  padding-top: 5px;
  text-decoration: none;
  color: black;
}
.yelpAddress{
  font-size: 1.3vmin;
  color: grey;
}
.yelpRatingReviewPrice{
  font-size: 1.5vmin;
   color: grey;
}
.yelpName,
.yelpAddress,
.yelpRatingReviewPrice,
.yelpCategory {
  color: rgb(219, 204, 204);
  font-family: 'Rajdhani', sans-serif;
}
.yelpCategory{
  font-size: 1.75vmin;
  text-transform: uppercase;
}
.yelpPhoto{
  height: 10vmin;
  width: 10vmin;
  display: flex;
  float: left;
  padding-right: 3.5%;
}
